.ea {
  background-color: white;
  margin: 3%;
  padding: 3%;
}

.TextAnons {
  font-family: Montserrat;
  color: #4d331f;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  width: 90%;
}


