.SearchPage {
    color: #4d331f;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none !important;

    form {
        padding: 2%;
    }

    button {
        color: #e6b17e;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        text-transform: uppercase;
        background: #4d331f;
        margin: 1%;
        padding: 1%;
    }

    input[type="text"] {
        width: 80%;
        padding: 1%;
        font-family: Montserrat;
        font-weight: 600;
    }

    .search-results {
        background-color: white;
        width: 85%;
        margin: 20px auto;
    }

    .search-results ul {
        list-style-type: none;
        padding: 0;
    }

    .search-results ul li {
        white-space: pre-wrap;
        padding: 1%;
        line-height: 13px;
        font-family: Montserrat;
        text-align: left;
    }

    .search-results ul li:last-child {
        border-bottom: none;
    }

    .search-results ul li a {
        color: #4d331f;
        text-decoration: none;
        display: block;
    }

    .search-results ul li a:hover {
        text-decoration: underline;
    }
}
