.carousel {
    position: relative;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
    height: 100%;
}

.content-slide1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 2%;
}

.card-content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text {
    color: #4d331f;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
}

.card-link {
    text-decoration: none;
    color: #4d331f;
}

.card-link:hover {
    color: #000;
}

.CardPic {
    width: 188px;
    height: 188px;
    object-fit: cover;
    object-position: center;
}

.slick-next,
.slick-prev {
    z-index: 1;
    width: 50px;
    height: 50px;
}

.slick-next:before,
.slick-prev:before {
    font-family: "slick";
    font-size: 47px;
    line-height: 1.2;
}

.slick-dots li button:before {
    color: #4d331f;
}

.card-catalog {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 357px;
    height: 54px;
    background: #4d331f;
    margin: 20px auto;
    position: relative;
}

.card-catalog-url {
    position: absolute;
    text-decoration: none;
    margin-top: 1%;
    color: #e6b17e;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    top: 25%;
    left: 27%;
}

.card-text__url {
    text-decoration: none;
    color: rgb(77, 51, 31);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}
