

.item-1 {
    background-color: aqua;
}
.item-2 {
    background-color: orange;
}
.item-3 {
    background-color: tomato;
}
.item-4 {
    background-color: teal;
}
.item-5 {
    background-color: white;
}
.item-6 {
    background-color: orchid;
}
.item-7 {
    background-color: wheat;
}
.item-8 {
    background-color: lawngreen;
}
.item-9 {
    background-color: salmon;
}
.item-10 {
    background-color: skyblue;
}

.main-container {
    height: 150px;
    width: 450px;
}

.window {
    height: 100%;
    width: 100%;
}

.all-pages-container {
    height: 100%;
    display: flex;
    
}